body {background-color: rgb(177, 176, 176);}
.otsikko {
    display: inline;
    border: 2px dashed orange;
    padding: 5px
}
.otsikko{
    margin-left: 550px;
}


.leipateksti {
    background-color: white;
    border: 2px solid  orange;
    border-radius: 5px;
    padding: 10px;
    display: inline-block
    
    }


