

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: lightgrey;
    color:black;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}


  textarea {
    border: 1px solid black;
    background-color: #f8f8f8;
  }
  
  input[type=text] {
    box-sizing: border-box;
    background-color: white;
  }

  select {
    border: 1px solid black;
    background-color: #f1f1f1;
    margin: 10px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: lightgrey;
    border: solid 1px black;
    color: black;
    margin: 10px;
    cursor: pointer;
  }

  fieldset {
    display: inline-block;
}
  